<header class="hero relative ml-45">
    <nav class ="items-center" >
        <button routerLink=""></button>
        <ul class="">
            <div>
                <form action="#" method="GET" class="hidden lg:block lg:pl-2">
                    <label for="topbar-search" class="sr-only">Search</label>
                    <div class="relative mt-1 lg:w-96">
                      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"> <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/> </svg>
                      </div>
                      <input type="text" name="email" id="topbar-search" class="bg-gray-50 border border-gray-300 text-gray-900 focus:border-none sm:text-sm rounded-lg  block w-full pl-9 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white " placeholder="Search">
                    </div>
                </form>
            </div>
            <!-- <li><button routerLink="/competitions" id="devices-dropdown-button">Competitions</button></li>
            <li><button routerLink="/dashboard">Dashboard</button></li>
            <li><button href="#">About Us</button></li>
            <li><button href="#">Contact Us</button></li> -->
            
        </ul>
        
        <ul class="smallbuttons">
           
            <li>
                <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="bg-gray-50 border  border-gray-300 block focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                Add Competition <img src="assets/SVG/add-icon.svg" class=" ml-3 w-6" alt="add-icon">
                </button>
            </li>
            <!-- <li class="" id="language"><button href="#"><img src="/assets/SVG/account1.svg" alt="Profile"></button></li> -->
            <li class="" id="hamburger"><button href="#" id="burger-dropdown-button"><img src="/assets/SVG/Hamburger.svg" alt="Hamburger"></button></li>
        </ul>
    </nav>
</header>
 



  
  <!-- Devices Dropdown -->
 
  